<nav class="gruppetto-green" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" ng-click="vm.home();" class="brand-logo"><img src="img/logo1.png" class="responsive-img" /></a>
        <ul class="right hide-on-med-and-down">
            <li ng-show="vm.user">
                <a ng-href="/account" class="white-text">{{vm.user.name}}</a>
            </li>
            <li>
                <a ng-hide="vm.isAuthed" class="white-text" ng-href="/connexion">Connexion</a>
                <a ng-show="vm.isAuthed" class="white-text" ng-click="vm.logout();">Déconnexion</a>
            </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a ng-href="/connexion">Connexion</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>