<div class="container">
    <div class="card-panel">
        <div class="row">
            <div class="col s12">
                <h1>Connexion</h1>
            </div>
            <div class="col s12">
                <span class="red-text" ng-show="errorMessage"><i class="left material-icons">warning</i>{{errorMessage}}</span>
            </div>
            <form name="loginForm" ng-controller="connexionCtrl" ng-submit="signin()">
                <div class="col offset-s3 s6">
                    <div class="input-field">
                        <input required type="email" id="mail" class="validate" ng-model="user.email">
                        <label for="mail">Adresse mail</label>
                    </div>
                </div>
                <div class="col offset-s3 s6">
                    <div class="input-field">
                        <input required type="password" id="pwd" class="validate" ng-model="user.password">
                        <label for="pwd">Mot de passe</label>
                    </div>
                </div>
                <div class="col offset-s3 s6">
                    <button class="btn gruppetto-green white-text" type="submit"><i class="material-icons left">send</i>Connexion</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12 center">
                <p>Pas encore membre? <a ng-href="/inscription">Inscrivez-vous</a></p>
            </div>
        </div>
    </div>
</div>